<mat-sidenav-container class="container">
      <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
            <mat-nav-list class="nav-list">
                  <a mat-list-item routerLink="/">
                        <i class="material-icons">
                        home
                        </i>
                        Início    
                  </a>

                  <a mat-list-item routerLink="/cliente"> 
                        <i class="material-icons">
                        people
                        </i>
                        Clientes    
                  </a>

                  <a mat-list-item routerLink="/revista"> 
                        <i class="material-icons">
                              menu_book
                        </i>
                        Revistas    
                  </a>
                  <a mat-list-item routerLink="/produto"> 
                        <i class="material-icons">
                              storefront
                        </i>
                        Produtos
                  </a>
            </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-container class="content">
            <router-outlet></router-outlet>
      </mat-sidenav-container>
</mat-sidenav-container>